@media screen and (max-width: 782px) {
    .hanbager {
        display: block;
    }
    .right {
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
    }
    .right-wrapper {
        padding-left: 0;
        width: 100%;
        padding-top: 70px;
        background-color: black;
    }
    .right-logo {
       position: absolute;
       top: 15px;
       left: 0;
       right: 0;
       margin: 0 auto;
    }
    .right-container {
        display: none;
        
    }
    .open .right-container {
        display: block;
        font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
    }
    .right-list {
        margin-bottom: 15px;
    }
    .right-list li {
        position: relative;
        padding-left: 20px;
        border-bottom: 1px solid#fff;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 14px;
    }
    .right-list li ::after {
        background-color: #fff;
        content: "";
        height: 2px;
        width: 8px;
        top: 23px;
        transform: rotate(45deg);
        position: absolute;
        left: 5px;
        
    }
    .right-list li ::before {
        background-color: #fff;
        content: "";
        height: 2px;
        width: 8px;
        top: 28px;
        left: 5px;
        transform: rotate(-45deg);
        position: absolute;
    }
    .wrapper {
        width: 100%;
    }
    .bland-wrapper ul {
        flex-direction: column;
    }
    .bland-wrapper ul li {
        width: 100%;
        margin-bottom: 55px;
    }
    .bland-wrapper ul li img  {
        width: 170px;
    }
    .bland-wrapper ul li p {
        font-size: 14px;
        text-align: center;
    }
    .company-wrapper {
        padding-bottom: 120px;
    }
}
 
@media screen and (max-width: 640px){
    .messege-wrapper {
        padding: 70px 0 35px 0;
    }
    .messege-wrapper p {
        width: 94%;   
    }
    .photo-wrapper ul {
        flex-direction: column;
    }
    .photo-wrapper ul li {
        width: 100%;
    }
    .project-container {
        text-align: center;
    }
    .project-container img {
        float: none;
        margin-bottom: 20px;
    }
    .project-container p {
        text-align: left;
    }
    
    
}